<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yyyu.testnestedscroll">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.yyyu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".coordinator.TestCoordinatorActivity"/>
        <activity android:name=".coordinator.TestCollapseActivity"/>
        <activity android:name=".nested.TestNestedActivity"/>
        <activity android:name=".dispatch_event.TestDispatchEventActivity"/>
        <activity android:name="com.yyyu.line_chart.TestLineChartActivity"/>

    </application>

</manifest>